@keyframes roll-sector {
  from {transform: rotate(0deg) scale(1);}
}

@keyframes grow-sector {
  from {flex-basis: 0%;}
}

@keyframes raise-sector {
  from {height: 0;}
}

.chart-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    .chart {
        box-shadow: 0 0 0 .25rem;
        .label {
            font-size: .03em;
        }
    }
}

[format="radial"] {
    font-size: inherit;
    width: 1em;
    height: 1em;
    .chart {
        width: 1em;
        height: 1em;
        border-radius: 1em;
        .label {
            position: absolute;
            top: 0%;
            left: 30%;
            span {
                position: absolute;
                padding: .5em;
                border-radius: .3em;
            }
        }
    }
    .totals {
        font-size: .05em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    .segment {
        clip: rect(0em, 1em, 1em, .5em);
        position: absolute;
        height: 100%;
        width: 100%;
        pointer-events: none;
        &:hover {
            z-index: 1;
            .label {
                opacity: .8;
            }
        }
        .wedge {
            border-radius: 100%;
            clip: rect(0em, .5em, 1em, 0em);
            position: absolute;
            height: 100%;
            width: 100%;
            pointer-events: auto;
        }
    }
    &.animate .segment {
        animation: 1s roll-sector ease-out;
    }
}

[type="pie"] {
    .segment {
        .wedge {
            background: currentColor;
        }
    }
}

[type="donut"] {
    .segment {
        .wedge {
            border: .1em solid currentColor;
        }
    }
}

[format="block"] {
    .segment{
        position: relative;
        &:hover {
            z-index: 1;
            .label {
                opacity: .8;
            }
        }
        .label {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 25%);
            opacity: 0;
            line-height: 0;
            white-space: nowrap;
            margin-top: .5rem;
            font-size: .8rem;
            span {
                display: block;
                padding: 1em;
                border-radius: .3em;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 50%;
                transform: translate(-50%, 0%);
                display: block;
                border: .5rem solid transparent;
                border-top-width: 0;
            }
        }
    }
    .value {
        width: 100%;
        height: 100%;
        background-color: currentColor;
    }
}

[type="stacked"] {
    border-radius: .5em;
    width: 50%;
    font-size: inherit;
    .chart {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 1em;
        .segment {
            flex: 0 0 0%;
            height: 100%;
        }
    }
    &.animate .segment {
        animation: 1s grow-sector ease-out;
    }
}

[type="bars"] {
    width: 1em;
    height: 1em;
    font-size: inherit;
    .chart {
        height: 1em;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        .segment {
            flex: 1 1 auto;
            width: .1em;
            margin: 0 .3rem;
            &[percent="100"] .value {
                border-radius: 0;
            }
        }
    }
    &.animate .segment {
        animation: 1s raise-sector ease-out;
    }
}
