@keyframes grow-sector {
  from {transform: rotate(0deg) scale(1);}
}

.workspace {
    &.spacecat {
        background-image: url(../spacecat.jpg);
        background-size: cover;
        color: #FFF;
    }
    &:not(.spacecat) {
        [format="radial"] {
            .chart {
                background-color: $dark;
            }
        }
    }
    .controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

[type="pie"] {
    .chart {
        box-shadow: 0 0 .3em 0 #000 inset, 0 0 0 .025em, 0 .1em .2em 0 rgba(#000, .35);
        background-color: rgba($dark, .35);
        @include background-stripes(0.1, 45deg, 0.05em);
        &:after {
            background-color: rgba($dark, .35);
        }
    }
    .totals {
        color: #FFF;
    }
    .segment {
        .wedge {
            background: currentColor;
        }
    }
}

[type="donut"] {
    .chart {
        box-shadow: 0 0 .3em 0 #000 inset, 0 0 0 .025em, 0 .1em .2em 0 rgba(#000, .35);
        background-color: rgba($dark, .35);
        @include background-stripes(0.1, 45deg, 0.05em);
    }
    .totals {
        color: #FFF;
    }
    .segment {
        .wedge {
            border: .1em solid currentColor;
            &.continued {
                // border-left: .03em solid;
            }
        }
    }
}

[format="radial"] {
    position: relative;
    margin: 0 auto;
    font-size: 50vw;
    width: 1em;
    height: 1em;
    .chart {
        position: relative;
        width: 1em;
        height: 1em;
        border-radius: 1em;
        // overflow: hidden;
        &:after {
            border-radius: 100%;
            content: attr(title);
            // box-shadow: 0 0 .2em 0 #000 inset;
            width: 70%;
            height: 70%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
            // opacity: 0; //.15;
        }
    }
    .segment {
        clip: rect(0em, 1em, 1em, .5em);
        position: absolute;
        height: 100%;
        width: 100%;
        // overflow: hidden;
        animation: 1s grow-sector ease-out;
        pointer-events: none;
        &:hover {
            z-index: 1;
            .label {
                opacity: .8;
            }
        }
        .wedge {
            border-radius: 100%;
            clip: rect(0em, .5em, 1em, 0em);
            position: absolute;
            height: 100%;
            width: 100%;
            // font-family: monospace;
            pointer-events: auto;
        }
        .label {
            font-size: .035em;
            position: absolute;
            top: 0%;
            left: 30%;
            opacity: 0;
            span {
                background: $dark;
                color: $light;
                position: absolute;
                padding: .5em;
                border-radius: .3em;
            }
        }
    }
    .totals {
        font-size: .05em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        // opacity: 0;
    }
}


[type="bar"] {
    border-radius: .5em;
    width: 60vw;
    .chart {
        height: 1em;
        background: rgba($dark, .15);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // overflow: hidden;
        .value {
        }
    }
}

[format="horizontal"] {
    position: relative;
    margin: 0 auto;
    font-size: 2em;
    .chart {
        box-shadow: 0 0 0 .1em; //,  0 0 .05em 0 #000 inset;
        position: relative;
        border-radius: 1em;
        .segment{
            position: relative;
            flex: 0 0 0%;
            height: 100%;
            &:first-of-type .value {
                border-radius: 1em 0 0 1em;
            }
            &:last-of-type .value {
                border-radius: 0 1em 1em 0;
            }
            &:hover {
                z-index: 1;
                .label {
                    opacity: .8;
                }
            }
        }
        .value {
            // position: relative;
            height: 100%;
            // width: 100%;
        }
        .label {
            font-size: .5em;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 25%);
            opacity: 0;
            line-height: 0;
            white-space: nowrap;
            span {
                background: $dark;
                color: $light;
                display: block;
                padding: 1em;
                border-radius: .3em;
            }
            &:after {
                content: '';
                position: absolute;
                bottom: 100%;
                left: 50%;
                transform: translate(-50%, 0%);
                display: block;
                border: .5rem solid transparent;
                border-top-width: 0;
                border-bottom-color: $dark;
            }
        }
    }
}

.chart-wrapper {
    position: relative;
    .legend {
        position: relative;
        font-size: .04em;
        // top: 110%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2em 0 0 0;
        padding: .5em;
        background: $dark;
        div {
            margin: .5em;
            align-items: flex-start;
            flex: 0 1 25%;
            line-height: 0;
            &:before {
                content: '';
                display: inline-block;
                width: 1em;
                height: 1em;
                background: currentColor;
                margin-right: .5em;
                vertical-align: middle;
                border-radius: .1em;
            }
            span {
                color: $light;
                position: relative;
            }
        }
    }
    .supplemental {
        font-size: 1rem;
        padding: 1em;
        line-height: 1.4;
    }
}
