<div class="chart-wrapper" type="bar">
    <div class="chart">
        <div ng-repeat="segment in config.segments track by $index | filter:!segment._continued" class="segment" title="{{segment.label}}" style="flex-basis: {{segment._percent}}%">
            <div class="value {{segment.class}}" style="background:{{segment.color}};"></div>
        </div>
    </div>
    <div class="legend">
        cap: {{config.capacity}}<br />
        used: {{totals.actual.num}} / {{totals.actual.pct}}%<br />
        over: {{totals.overage.num}} / {{totals.overage.pct}}%<br />
        avail: {{totals.available.num}} / {{totals.available.pct}}%<br />
    </div>
    <!-- scale({{(segment._continued ? (1 - (($index-1)/36)) : (1 - ($index/36)))}}) -->
    <div class="labels">
        <div ng-repeat="segment in config.segments track by $index" style="color:{{segment.color}};" ng-if="!segment._continued">
            <span>{{segment.label}}</span>
        </div>
    </div>
</div>
