<div class="chart-wrapper" format="horizontal" type="bars">
    <!-- <div class="totals">
        <h1>{{totals.actual.pct}}%</h1>
    </div> -->

    <div class="chart">
        <div ng-repeat="segment in config.segments track by $index | filter:!segment._continued" class="segment" data-title="{{segment.label}}" style="height: {{segment._percent}}%">
            <div class="value {{segment.class}}" style="background:{{segment.color}};">
                <div class="label"><span>{{segment.label}}: {{segment._percent}}%</span></div>
            </div>
        </div>
    </div>

    <!-- scale({{(segment._continued ? (1 - (($index-1)/36)) : (1 - ($index/36)))}}) -->

    <!-- <div class="legend">
        <div ng-repeat="segment in config.segments track by $index" style="color:{{segment.color}};" ng-if="!segment._continued">
            <span>{{segment.label}}</span>
        </div>
    </div> -->

    <div class="supplemental">
        <div>cap: {{config.capacity}}</div>
        <div>used: {{totals.actual.num}} / {{totals.actual.pct}}%</div>
        <div>over: {{totals.overage.num}} / {{totals.overage.pct}}%</div>
        <div>avail: {{totals.available.num}} / {{totals.available.pct}}%</div>
    </div>
</div>
